<div class="card shadow-card p-4 mb-3">
  <h1 class="fw-bold text-center">Charlas disponibles</h1>
  <p class="text-muted text-center">
    Todas las charlas sin TechRider según tus tecnologías
  </p>

  <div
    class="table-responsive card border-bottom-0 w-100"
    *ngIf="charlasCargadas"
  >
    <table class="table mb-0">
      <thead class="small rounded-4 table-secondary">
        <tr>
          <th class="text-muted">Descripción</th>
          <th class="text-muted">Fecha</th>
          <th class="text-muted">Turno</th>
          <th class="text-muted">Provincia</th>
          <th class="text-muted">Modalidad</th>
          <th class="text-muted">Empresa</th>
          <th class="text-muted text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas">
          <td class="fw-bold">{{ charla.descripcionCharla }}</td>
          <td>{{ charla.fechaCharla | date : "mediumDate" }}</td>
          <td>{{ charla.turno }}</td>
          <td>{{ charla.provincia }}</td>
          <td>{{ charla.modalidad }}</td>
          <td>{{ charla.empresa }}</td>
          <td class="text-center">
            <div class="btn-group" role="group">
              <a
                class="btn btn-dark btn-sm"
                [routerLink]="['/charlas', charla.idCharla]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-info-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                  />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                  />
                </svg>
              </a>
              <!-- Método asignarse, asigna Tech Rider a charla y cambia estado de charla a PROCESO (id 3) -->
              <a
                class="btn btn-dark btn-sm"
                (click)="asignarCharla(charla.idCharla)"
              >
                Asignarse
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <img
    *ngIf="!charlasCargadas"
    class="d-block mx-auto w-25"
    src="../../../assets/images/loading.gif"
  />
</div>
