<div class="card shadow-card p-4 mb-3 col-12 col-lg-8 d-block mx-auto">
  <h1 class="fw-bold text-center">Iniciar sesión</h1>
  <p class="text-muted text-center">
    Introduce tus credenciales para iniciar sesión en tu cuenta
  </p>
  <form #loginForm="ngForm" (ngSubmit)="iniciarSesion()">
    <div class="mt-5">
      <label class="form-label fw-bold">Email</label>
      <input
        type="text"
        class="form-control"
        autocomplete="email"
        name="controlemail"
        #controlemail
        placeholder="Introduce tu correo"
      />
    </div>
    <div class="mt-3">
      <label class="form-label fw-bold">Contraseña</label>
      <input
        type="password"
        class="form-control"
        autocomplete="current-password"
        name="controlpassword"
        #controlpassword
        placeholder="Introduce tu contraseña"
      />
    </div>
    <button class="btn btn-dark rounded w-100 mt-3 py-2">Iniciar sesión</button>
  </form>
  <div class="text-center mt-4">
    ¿No tienes una cuenta?
    <a
      class="link-dark text-decoration-underline fw-bold link-opacity-75-hover"
      [routerLink]="['/registrar-usuario']"
    >
      Regístrate
    </a>
  </div>
</div>
