<div class="card shadow-card p-4 mb-3">
  <div *ngIf="cursosCargados">
    <h1 class="fw-bold text-center mb-4">Cursos de {{ nombreCentro }}</h1>
    <form
      #newCurso="ngForm"
      class="row mb-3"
      *ngIf="role == 1"
      (ngSubmit)="createCurso()"
    >
      <div class="col-md-3">
        <label class="form-label fw-bold">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="controlnombre"
          #controlnombre
          placeholder="Nombre del curso"
        />
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <label class="form-label fw-bold">Descripción</label>
        <input
          type="text"
          class="form-control"
          name="controldescripcion"
          #controldescripcion
          placeholder="Descripción del curso"
        />
      </div>
      <div class="col-md-3 align-bottom d-flex">
        <button class="btn btn-dark mt-4 w-100">Añadir curso</button>
      </div>
      <hr class="mt-3" />
    </form>

    <div class="row">
      <div
        class="col-md-4 d-flex align-items-stretch"
        *ngFor="let curso of cursos"
      >
        <div class="card w-100 mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ curso.nombreCurso }}</h5>
            <h6 class="card-subtitle text-body-secondary">
              {{ curso.descripcion }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    *ngIf="!cursosCargados"
    class="d-block mx-auto w-25"
    src="../../../assets/images/loading.gif"
  />
</div>
