<div class="card shadow-card p-4 mb-3">
  <h1 class="fw-bold text-center">Mis charlas</h1>
  <p class="text-muted text-center">
    Charlas solicitadas por ti o por otros profesores de tus cursos
  </p>
  <div *ngIf="estados && charlasCargadas" class="mt-2">
    <div class="row">
      <div class="col-4">
        <select class="form-select" name="selectestado" #selectestado>
          <option value="0">TODOS</option>
          <option
            *ngFor="let estado of estados"
            [value]="estado.idEstadosCharla"
          >
            {{ estado.tipo }}
          </option>
        </select>
      </div>
      <div class="col-8">
        <div class="btn-group w-100">
          <button class="btn btn-dark" (click)="filtrarCharlas()">
            Filtrar
          </button>

          <button class="btn btn-dark" (click)="recargarCharlas()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-clockwise"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
              />
              <path
                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive card mt-3 border-bottom-0">
      <table class="table mb-0">
        <thead class="small rounded-4 table-secondary">
          <tr>
            <th class="text-muted">Descripción</th>
            <th class="text-muted">Curso</th>
            <th class="text-muted">Fecha</th>
            <th class="text-muted">Estado</th>
            <th class="text-muted">TechRider</th>
            <th class="text-muted text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let charla of charlasFiltradas">
            <td class="fw-bold">{{ charla.descripcionCharla }}</td>
            <td>{{ charla.nombreCurso }}</td>
            <td>{{ charla.fechaCharla | date : "mediumDate" }}</td>
            <td>{{ charla.estadoCharla }}</td>
            <td>{{ charla.techRider }}</td>
            <td class="text-center">
              <div class="btn-group" role="group">
                <a
                  class="btn btn-dark btn-sm"
                  [routerLink]="['/charlas', charla.idCharla]"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-info-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                    />
                    <path
                      d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                    />
                  </svg>
                </a>
                <a
                  class="btn btn-dark btn-sm"
                  [routerLink]="['/charlas/editar', charla.idCharla]"
                  *ngIf="
                    charla.estadoCharla == 'PROCESO' ||
                    charla.estadoCharla == 'PENDIENTE'
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-square"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                    />
                  </svg>
                </a>
                <a
                  class="btn btn-dark btn-sm"
                  *ngIf="charla.estadoCharla == 'CERRADA'"
                  (click)="completarCharla(charla.idCharla)"
                >
                  Completar
                </a>
                <a
                  class="btn btn-dark btn-sm"
                  *ngIf="
                    charla.estadoCharla == 'COMPLETADA' ||
                    charla.estadoCharla == 'ACREDITADA'
                  "
                  [routerLink]="['/charlas/valoracion', charla.idCharla]"
                >
                  Valorar
                </a>
                <a
                  class="btn btn-dark btn-sm"
                  *ngIf="
                    charla.estadoCharla != 'COMPLETADA' &&
                    charla.estadoCharla != 'ACREDITADA' &&
                    charla.estadoCharla != 'CANCELADA'
                  "
                  (click)="cancelarCharla(charla.idCharla)"
                >
                  Cancelar
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <img
    *ngIf="!estados || !charlasCargadas"
    class="d-block mx-auto w-25"
    src="../../../assets/images/loading.gif"
  />
</div>
